<!-- correct movieAdd.html -->

{% extends 'base.html'%}

{% block title%}{% endblock %}

{% block content%}

<div class="container">
  <h1>Add a New Movie</h1>
  <div class="col">
    <form method="POST" action="{{url_for('movie_add')}}">
      <div class="form-row">
        <div class="form-group col-6">
          <label for="movieTitle">Movie Name</label>
          <input type="text" class="form-control" name="movieTitle">
        </div>

        <div class="form-group col-6">
          <label for="movieGenre">Genre</label>
          <select class="form-control" name="movieGenre">
            {% for genre in ['Action','Drama','Historical Fiction','Fantasy','Mystery','Romance','Science Fiction','Suspense','Thriller','Young Adult'] %}
            <option>{{genre}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}
