<!-- reviewsAdd.html -->

{% extends 'base.html'%}

{% block title%}{% endblock %}

{% block content%}

<div class="container">
  <h1>Review a Movie</h1>
  <div class="col">
    <form method="POST" action="{{url_for('reviews_add')}}">
      <div class="form-row">
    
        <div class="form-group col-6">
          <label for="reviewUser">User</label>
          <input type ="text" class="form-control" name="reviewUser">
          </input>
        </div>

        <div class="form-group col-6">
          <label for="movieTitle">Movie Title</label>
          <select class="form-control" name="movieTitle">
            {% for movie in data.movie %}
            <option>{{movie.title}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-6">
          <label for="reviewRating" class="control-label">Movie Rating</label>
          <input type="range" min="1" max="10" value="5" class="form-control-range" id="reviewRating" name="reviewRating">
        </div>

        <div class="form-group col-12">
          <label for="reviewText">Movie Review</label>
          <textarea class="form-control" name="reviewText" rows="5"></textarea>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}
